body {
  margin: 0;
}

@font-face {
  font-family: "MonserrantRegular";
  src: local("MonserrantRegular"),
    url(./assets/font/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "MonserrantLight";
  src: local("MonserrantLight"),
    url(./assets/font/Montserrat-Light.ttf) format("truetype");
}
@font-face {
  font-family: "MonserrantMedium";
  src: local("MonserrantMedium"),
    url(./assets/font/Montserrat-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "questrial";
  src: local("questrial"),
    url(./assets/font/Questrial-Regular.ttf) format("truetype");
}

/* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
